/*******TAG SELECTORS*******/

body {
  background-color: #FDF6EC;
}
hr {
  background-color: white;
  border-style: none;
  border-top-style: dotted;
  border-color: green;
  border-width: 5px;
  width: 10%;
}
h1 {
  color: #DAB88B;
}
h3 {
  color: #DAB88B;
}

label {
  color: grey;
}
li {
  color: grey;
}
p {
  color: grey;
}

thead {
  color: green;
}

table {
  color: grey;
}
